# Agent
boto3
strands-agents
jinja2
json_repair
print_color

# Data Analytics
numpy
pandas
matplotlib

# Eval
tqdm
jsonlines
langchain
langchain_aws
joblib
joblib_progress
cairosvg
attrs

# Web App
streamlit

# Markdown to PDF
markdown
xhtml2pdf
